@import "tailwindcss";

@source inline("delay-{100,200,300,350,400,450,500,550,600,650,700,750,800,850}");

html {
  scrollbar-gutter: stable; /* Reserve space for scrollbar */
  font-family: "Stack Sans Text", sans-serif;
}

:root {
  font-family: "Stack Sans Text", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-linear-to-bl from-cyan-400 to-sky-700;
  overflow-y: auto; /* Allow vertical scrolling when needed */
}

body:has(#nav-button[data-extended="true"]) {
  @apply overflow-hidden h-screen;
}

.cinzel {
  font-family: "Cinzel", serif;
}

p {
  @apply text-pretty;
}

p + p {
  @apply mt-8;
}

h1.gradient-header {
  @apply text-cyan-400 font-bold text-transparent bg-clip-text bg-gradient-to-bl from-cyan-400 to-sky-700;
}

h1.cinzel {
  @apply font-normal tracking-widest;
}

.button.primary {
  @apply rounded-full py-1 md:py-2 px-8 bg-cyan-400 font-semibold hover:bg-sky-600 transition-all duration-300 box-border;
}

#root {
  @apply w-full;
}

main {
  @apply mx-auto;
}

#home {
  @apply w-full;
}

.splash-container {
  @apply w-full md:flex;
}

.splash-container div {
  @apply transition-all duration-300;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

.desktop-nav-link {
  @apply text-gray-900 text-xs tracking-[2px] transition-all duration-300 uppercase;
}

.desktop-nav-link.floating {
  @apply text-white;
}

/* NAVIGATION */

.nav-button-bar {
  @apply absolute rounded-full w-6 h-[3px] bg-linear-to-r from-cyan-500 to-sky-700 origin-center opacity-100 transition-all duration-500 ease-out -translate-x-1/2 -translate-y-1/2 ;
}

#nav-button {
  @apply relative;
}

#nav-button[data-extended="false"] {
  @apply flex flex-col gap-1.5;
}

#nav-button[data-extended="false"] .nav-button-bar:nth-child(1) {
  @apply -top-2 transform rotate-0 duration-100 ;
}

#nav-button[data-extended="false"] .nav-button-bar:nth-child(2) {
  @apply scale-x-100 duration-200;
}

#nav-button[data-extended="false"] .nav-button-bar:nth-child(3) {
  @apply top-2 transform rotate-0 duration-100;
}

#nav-button[data-extended="true"] .nav-button-bar:nth-child(1) {
  @apply top-0 transform rotate-45 duration-100;
}

#nav-button[data-extended="true"] .nav-button-bar:nth-child(2) {
  @apply scale-x-0 opacity-0 duration-200;
}

#nav-button[data-extended="true"] .nav-button-bar:nth-child(3) {
  @apply top-0 transform -rotate-45 duration-100;
}

.desktop-navigation[data-background="false"] > div > a.active::before {
  @apply content-[''] absolute -top-6.5 left-0 w-full h-2 bg-cyan-300;
}

.desktop-navigation[data-background="true"] > div > a.active::before {
  @apply content-[''] absolute -top-6.5 left-0 w-full h-2 bg-linear-to-b from-cyan-400 to-cyan-500;
}

/* HAMBURGER */

.mobile-navigation {
  @apply absolute top-0 left-0 overflow-hidden w-full h-screen;
}

.mobile-navigation .backdrop {
  @apply absolute left-0 w-full h-screen bg-white transition-all ease-in-out duration-300;
}

.mobile-navigation[data-extended="false"] {
  @apply pointer-events-none;
}

.mobile-navigation[data-extended="true"] {
  @apply pointer-events-auto;
}

.mobile-navigation[data-extended="false"] .backdrop {
  @apply -translate-y-full;
}

.mobile-navigation[data-extended="true"] .backdrop {
  @apply translate-y-0;
}

.mobile-navigation a.active {
  @apply text-transparent bg-clip-text bg-gradient-to-bl from-cyan-400 to-sky-700;
}

body:has(#nav-button[data-extended="true"]) .mobile-navigation-logo {
  @apply opacity-0;
}

/* HOME OFFICE HOURS */
.office-hours-day-header {
  @apply text-base lg:text-lg xl:text-xl font-semibold text-white uppercase text-center;
}

/* BIO LINKS COMPONENT */


.bio-links a {
  @apply relative text-sky-600 text-sm;
}

.bio-links a.active {
  /* @apply; */
}

.bio-links a.active {
  @apply pointer-events-none;
}

.bio-links a::after{
  content: "";
  @apply absolute -right-5 top-1 w-3 h-3 border border-sky-900 transition duration-300 ease-in-out;
}

.bio-links a.active::after{
  content: "";
  @apply bg-linear-to-b from-cyan-300 to-cyan-500;
}

.bio-links a:not(.active):hover::after{
  @apply bg-cyan-400;
}

/* SERVICES */
h2.services {
  @apply font-light text-xl md:text-xl lg:text-2xl drop-shadow-[0_1px_1px_rgba(0,0,0,0.5)] mb-6 border-b border-cyan-400;
}

.service-category ul {
  @apply ml-4;
}

.service-category ul li + li {
  @apply mt-2;
}

.service-category ul li {
  @apply font-light tracking-wider ;
}

/* FOOTER */

footer {
  @apply min-h-[500px] bg-linear-to-bl from-cyan-600 to-blue-700 pb-12;
}

footer a {
  @apply flex-0;
}

.footer-header {
  @apply text-[30px] md:text-[30px] font-light opacity-70 group-hover:opacity-100 transition-opacity duration-300 select-none;
}

/* MAP */
.map-container {
  @apply w-full h-screen md:h-[500px] lg:h-[650px];
}